@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100&family=Playfair+Display&family=Rozha+One&display=swap');

* {
    font-family: 'Libre Franklin', sans-serif;
    color: #383636;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background: #707b7d;
    background: linear-gradient(-90deg, #cae6e0, #a6b5c1);
}

a {
    color: #FFFFFF;
}

header h1 {

    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 48px;
    padding: 20px; 
}

.container {
    padding-top: 25px;
    float: left;
    margin: 20px auto;
    background-color: azure;
}

.row {
    max-width: 100%;
    height: auto;
    display: inline-block;
    clear: both;
    box-sizing: border-box;
}

.FFVAD {
    height: auto;
    margin: 0;
    display: inline-block;
}


ul li {
    color: #383636;
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }

    .FFVAD {
        max-width: 75%;
        height: auto;
    }
    h1 {
        display: fixed;
    }
}

@media screen and (min-width: 641px) {
    [class*="col-"] {
        width: 100%;

    }
    .FFVAD {
        max-width: 75%;
        height: auto;
    }
}
@media screen and (min-width: 768px) {
    .FFVAD {
        max-width: 100%;
        height: auto;
    }
    .col-md-8 {
        clear: both;
        display: inline-block;
        box-sizing: content-box;
        margin-left: 0px;
    }
}
@media screen and (min-width: 980px) {
    .FFVAD {
        max-width: 100%;
        height: auto;
    }
    .col-md-8 {
        clear: both;
        display: inline-block;
        box-sizing: content-box;
        margin-left: 20px;
    }
}