@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100&family=Playfair+Display&family=Rozha+One&display=swap');

* {
    font-family: 'Libre Franklin', sans-serif;
    color: #383636;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    background: #707b7d;
    background: linear-gradient(-90deg, #cae6e0, #a6b5c1);
    height: 100%
}
.jumbotron {
    color: #FAF9EF;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Assets/Images/forest-fog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin-bottom: 0;
}


a {
    color: #FFFFFF;
}

h1 {

    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    color: #cae6e0;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 48px;
    padding: 20px; 
}

 .main-content {
    background-color: azure;
}



.row {
    max-width: 100%;
    float: left;
    height: auto;
    clear: both;
    box-sizing: border-box;
}


.social-media a {
    color: #383636;
    margin: 15px;
}

