@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@100&family=Playfair+Display&family=Rozha+One&display=swap');
@media (max-width: 1060px) {
    .media::after{
        content:"\a";
    }
    .card-text::before {
        font-size: 17px;
        content: "\a";
    }
}

* {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    color: #383636;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    background: #707b7d;
    background: linear-gradient(-90deg, #cae6e0, #a6b5c1);
    height: 100%;
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
.jumbotron {
    color: #FAF9EF;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Assets/Images/forest-fog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

a {
    color: #FFFFFF;
}

h1 {

    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    color: #cae6e0;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 48px;
    padding: 20px; 
}
h2 {
    color: #89aca4;
    margin-left: 50px;
    margin-bottom: 25px;
}

 .card-main-content {
    position: relative;
    background-color: azure;
    /* align-content: center; */
    margin: 0 auto;
    padding-bottom: 20px;
    color: #89aca4;
    max-width: 1000px;
    height: auto;

}

#bio {
    color: #383636;
    font-weight: normal;
}

.card-main-content .card-img-content {
    position: absolute;
    left: 0;
    background: rgba(14, 68, 66, 0.7);
    width: 35%;
    height: 100%;
    padding: 20px;
}
.card-img-content h3 {
    color: #f0ffff;
    font-weight: bold;
}
.card-img-content .card-text {
    color: #f0ffff;
    font-size: 16px;
}
.pure-img-fluid-center {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
}

.card-deck {
    position: relative;
    margin: 0 auto;
}

.card-deck .card-title {
    position: absolute;
    bottom: 0;
    background: rgba(14, 68, 66, 0.7);
    width: 80%;
    padding: 20px;
}
.card-deck a {
    color: #f0ffff;
    text-align: center;
}

form {
    margin: 0px;
    padding: 30px 200px;
    float: left;
}

#email-textarea {
    width: 500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

